@import '../_variable';

.studio {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

.studio-hero {
  position: relative;
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow-x: hidden;
  h1 {
    font-family: var(--font-unique);
    font-weight: 400;
    line-height: .96;
    position: relative;
    @include mq(sm) {font-size: 10.2rem;}
    @include mq(md) {font-size: 47.2rem;}
  }
}

.studio-hero-img {
  aspect-ratio: 7/5;
  position: relative;
  width: calc(100vw - 3rem);
  margin: 0 auto -25% auto;
}

.studio-hero-img-wrapper {
  position: relative;
  @include mq(sm) {transform: translateY(-28%);}
  @include mq(md) {transform: translateY(-24%);}
}

.studio-header {
  width: 100%;
  padding: 1.5rem 1.5rem 10rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    filter: opacity(.96);
    line-height: 1.72;
    @include mq(sm) {font-size: 1.4rem; margin-top: 24px;}
    @include mq(md) {font-size: 1.6rem; margin-top: 48px;}
    .sp {
      @include mq(md) {display: none;}
    }
  }
}

.studio-header-copy {
  width: 60%;
}

.mission-intro {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 1.5rem;
  background-color: var(--foreground);
  color: var(--background);
  display: flex;
  align-items: center;
  gap: 3rem;
}

.mission-intro-col-sm {
  flex: 2;
}

.mission-intro-col-lg {
  flex: 4;
}

.mission-intro-copy {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mission-link {
  margin-top: 4.5rem;
}

.recognition {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include mq(sm) {margin-top: 16rem;}
  @include mq(md) {margin-top: 16rem;}
}

.recognition-copy {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.recognition-copy p {
  color: var(--foreground-200);
}

.char {
  display: inline-block;
  letter-spacing: 0;
}

.char-mask {
  overflow: hidden;
  display: inline-block;
}

@media (max-width: 1000px) {
  .studio-hero {
    padding: 7.5rem 1.5rem 1.5rem 1.5rem;
  }

  .studio-header-copy,
  .mission-intro-copy,
  .recognition-copy {
    width: 100%;
  }

  .mission-intro-col-sm {
    display: none;
  }

  .mission-intro {
    min-height: 100svh;
    height: 100%;
  }
}

.philosophy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include mq(sm) {padding: 64px 0;}
  @include mq(md) {padding: 64px 2.5vw 64px;}
  &_img {
    @include mq(sm) {width: 30%;}
    @include mq(md) {width: 30%;}
  }
  &_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    @include mq(sm) {width: 100%; padding: 0 1rem 0 6rem;}
    @include mq(md) {width:  50%; padding: 0;}
    p {
      @include mq(sm) {font-size: 1.4rem;}
      @include mq(md) {font-size: 1.6rem;}
    }
  }
  &_item {
    text-align: left;
    &.en {
      display: flex;
      align-items: flex-end;
      line-height: 1.42;
      opacity: .8;
      @include mq(sm) {font-size: 80%;}
      @include mq(md) {font-size: 88%;}
    }
    .pc {
      @include mq(sm) {display:  none;}
      @include mq(md) {display: block;}
    }
  }
}