/* ******************************
 *
 * RESPONSIVE MIXIN
 *
 * ****************************** */
/* ******************************
 *
 * FONT SETTINGS
 *
 * ****************************** */
@-webkit-keyframes loopCl {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes loopCl {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes loopClRv {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes loopClRv {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.studio {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

.studio-hero {
  position: relative;
  width: 100vw;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}
.studio-hero h1 {
  font-family: var(--font-unique);
  font-weight: 400;
  line-height: 0.96;
  position: relative;
}
@media screen and (min-width: 320px) {
  .studio-hero h1 {
    font-size: 10.2rem;
  }
}
@media screen and (min-width: 600px) {
  .studio-hero h1 {
    font-size: 47.2rem;
  }
}

.studio-hero-img {
  aspect-ratio: 7/5;
  position: relative;
  width: calc(100vw - 3rem);
  margin: 0 auto -25% auto;
}

.studio-hero-img-wrapper {
  position: relative;
}
@media screen and (min-width: 320px) {
  .studio-hero-img-wrapper {
    -webkit-transform: translateY(-28%);
            transform: translateY(-28%);
  }
}
@media screen and (min-width: 600px) {
  .studio-hero-img-wrapper {
    -webkit-transform: translateY(-24%);
            transform: translateY(-24%);
  }
}

.studio-header {
  width: 100%;
  padding: 1.5rem 1.5rem 10rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.studio-header p {
  -webkit-filter: opacity(0.96);
          filter: opacity(0.96);
  line-height: 1.72;
}
@media screen and (min-width: 320px) {
  .studio-header p {
    font-size: 1.4rem;
    margin-top: 24px;
  }
}
@media screen and (min-width: 600px) {
  .studio-header p {
    font-size: 1.6rem;
    margin-top: 48px;
  }
}
@media screen and (min-width: 600px) {
  .studio-header p .sp {
    display: none;
  }
}

.studio-header-copy {
  width: 60%;
}

.mission-intro {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 1.5rem;
  background-color: var(--foreground);
  color: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.mission-intro-col-sm {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.mission-intro-col-lg {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.mission-intro-copy {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.mission-link {
  margin-top: 4.5rem;
}

.recognition {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .recognition {
    margin-top: 16rem;
  }
}
@media screen and (min-width: 600px) {
  .recognition {
    margin-top: 16rem;
  }
}

.recognition-copy {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.recognition-copy p {
  color: var(--foreground-200);
}

.char {
  display: inline-block;
  letter-spacing: 0;
}

.char-mask {
  overflow: hidden;
  display: inline-block;
}

@media (max-width: 1000px) {
  .studio-hero {
    padding: 7.5rem 1.5rem 1.5rem 1.5rem;
  }
  .studio-header-copy,
  .mission-intro-copy,
  .recognition-copy {
    width: 100%;
  }
  .mission-intro-col-sm {
    display: none;
  }
  .mission-intro {
    min-height: 100svh;
    height: 100%;
  }
}
.philosophy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 320px) {
  .philosophy {
    padding: 64px 0;
  }
}
@media screen and (min-width: 600px) {
  .philosophy {
    padding: 64px 2.5vw 64px;
  }
}
@media screen and (min-width: 320px) {
  .philosophy_img {
    width: 30%;
  }
}
@media screen and (min-width: 600px) {
  .philosophy_img {
    width: 30%;
  }
}
.philosophy_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
@media screen and (min-width: 320px) {
  .philosophy_grid {
    width: 100%;
    padding: 0 1rem 0 6rem;
  }
}
@media screen and (min-width: 600px) {
  .philosophy_grid {
    width: 50%;
    padding: 0;
  }
}
@media screen and (min-width: 320px) {
  .philosophy_grid p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 600px) {
  .philosophy_grid p {
    font-size: 1.6rem;
  }
}
.philosophy_item {
  text-align: left;
}
.philosophy_item.en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1.42;
  opacity: 0.8;
}
@media screen and (min-width: 320px) {
  .philosophy_item.en {
    font-size: 80%;
  }
}
@media screen and (min-width: 600px) {
  .philosophy_item.en {
    font-size: 88%;
  }
}
@media screen and (min-width: 320px) {
  .philosophy_item .pc {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .philosophy_item .pc {
    display: block;
  }
}/*# sourceMappingURL=studio.css.map */